
#card-box{
    width: 100%;
    margin: auto 30% ;

}
.card-nav{
    display: flex;
    width: 100%;
}
#userimg{
    width: 12%;
    height: 70px;
    border-radius: 50%;
    border-style: none;
}
.userinfo{
    margin: 10px auto;
   
    width: 40%;
   
    display: block;
}
#ficon{
    position: absolute;
    background:none;
    left: 30%;
    right: 0%;
    font-size: xx-large;
}
#liveAlertBtn{
    width:20% ;
    position:absolute;
    top:14%;
     left:70%;
}
.card-footer{
    margin: auto;
}
.card-text{
    font-weight: 600;
}



@media screen and (max-width:600px){
    #card-box{
        width: 100%;
        margin: auto;
    }
    .card-nav{
        display: flex;
        width: 100%;
    }
    #userimg{
        width: 12%;
        height: 70px;
        border-radius: 50%;
        border-style: none;
    }
    
}