.search-box{
    width: 30%;
    
    margin: auto;
}
.card-box{
    padding: auto;
 margin: auto;
}
#link{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:600px){
    .search-box{
        width: 100%;
        margin: auto;
    }
}