.search-box{
    width: 100%;
    height: 70px;
    
    margin:0px auto;
}
.card-box{
    padding: auto;
 margin: auto;
}
#link{
    text-decoration: none;
    color: black;
}


@media screen and (max-width:600px){
    .search-box{
        width: 100%;
        margin: auto;
    }
    .card-box{
        padding: auto;
     margin: auto;
    }
    #link{
        text-decoration: none;
        color: black;
    }
}
