 .home-page{
    width: 100%;
   
    justify-content: space-between;
 }
.leftbar{
    width: 20%;
    
    
}

.insert-page{
    background: none;
    width: 55%;
    margin: auto ;
      
   

}

.postofe{
    width: 90%;
    margin: 20px -10%;
   
}
.search-page{
    display: none;
}
@media screen and (max-width:600px) {
    .home-page{
        width: 100%;
        display: block;
        justify-content: space-between;
     }
     .search-page{
        display: block;
    }
    .postofe{
        width: 90%;
        margin: 20px -0%;
       
    }
    
    .leftbar{
        width: 100%;
        bottom: 0px;
        position: fixed;
    }
    .insert-page{
       margin:20% -3%;
    background: none;
      width: 100%;
    }
    .rightbar{
    display: none;

    }
}