.profile{
    width: 100%;
 padding: auto;
margin: 0px;
   display: block;
}
.userfixprofile{
    display:block;

    width:70%;
}
.backimg{
    width: 90%;
    height: 150px;
    margin: auto;
    background: none;
    padding: auto;
}
.userimg{

    
   background: none;
    width: 20%;

    position:relative;
   margin: -6%;
   left: 16%;
}
#follow{
    position: relative;
    width: 30%;
    left: 60%;
}

.userinfo-profile{
    background: none;
    display: block;
    position:relative;
   margin: 0%;
   
   left: 10%;
}
#name{
    background: none;
    font-size: x-large;
    font-weight: 600;
}
#uname{
    margin: -4% 0px;
    background: none;

}
.bio{
    background:none;
    width: auto;
    margin:6% 10%;
}
.link{
    background:none;
  width: auto;
    margin:0% 10%;
}
.join{
    width: 80%;
    background: none;
   font-size: larger;
    margin:10px auto;
    display: flex;
}

.edit-part{
    
    position: fixed;
    width: 30%;
    top: 3%;

    left: 30%;
    right: auto;
    height: auto;
}

#dpicon{
    position: relative;
    margin: 10px 27%;
   
    top:1%;
    right:  auto;
    left: auto;
  width: 20%;
  height: 30px;
  border: 50% none;
    background-color: red;
}
@media screen and (max-width:600px) {
    

    .profile{
        width: 100%;
    margin:0px 0px;
    border-radius:none;
    }
    .userfixprofile{
        display:block;
    
        width:100%;
    }
    .backimg{
        width: 100%;
        height: 150px;
        margin:0px ;
        background: none;
        padding: auto;
    }
    .userimg{

    
        background: none;
         width: 30%;
     
         position:relative;
        margin: -6%;
        left: 16%;
     }
     #follow{
        position: relative;
        width: 30%;
        left: 60%;
    }
    .edit-part{
        width: 90%;
        left: 0%;
        top: 15%;
        right: 0%;
    }
    #dpicon{
        margin: 0px 45%;

        width: auto;
    }
}